* {
    font-family: 'VT323', monospace;
    font-size: x-large;
    background-color: #faf9f9;
}

/* color palette
for new palettes: https://coolors.co/palettes/trending
*/

body {
    background-color: white;
}

/* the Reddit orange*/
h1, .mood {
    color: #FF4500;
}

header{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#title {
    padding-bottom: 0.5em;
  }

button a {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
}