* {
    font-family: 'Roboto', 'Arial', sans-serif;
}

/* color palette
for new palettes: https://coolors.co/palettes/trending
*/

:root {
    --primary: #272343;
    --secondary: #BAE8E8;
    --accent: #FFD803;
    --background:#FFFFFE;
}
