{%  extends 'layout.html' %}

{%  block content %}
    <section class="text-center">
        <p class="instructions">I guess you probably did not enter a subreddit. </p>
        <img src="../static/chihuahua.gif"  alt="chihuahua looking back awkwardly" style="width:300px;">
        <p class="image-source" style="font-size:16px; font-style: italic">image source: tenor</p>
        <button type="button" class="btn btn-warning"><a href="{{ url_for('mood')}}">take me back</a></button>
    </section>
{% endblock %}