{%  extends 'layout.html' %}

{%  block content %}
    <section class="text-center">
    <div class="text-center">
        <p>a quick and easy way to get the general sentiments </p>
        <p>of your interested topics on your favorite subreddits:)</p>
    </div>
        <img src="../static/reddit.png" alt="reddit mascot with question-mark eyes" style="width:200px;" >
         <button type="button" class="btn btn-info"><a href="{{ url_for('mood')}}">Enter as our guest</a></button>
    </section>

{% endblock %}