{%  extends 'layout.html' %}

{%  block content %}
    <section id="form2" class="text-center">
        <br>
        <p>Enter an existing Subreddit and the topic you are interested in.</p>
        <form action="{{ url_for('mood')}}" method="POST">
            <label for="subreddit">Subreddit </label>
            <input id="subreddit" name="subreddit" type="text" placeholder="OSUOnlineCS">
            <br>
            <br>
            <label for="keyword">Keyword </label>
            <input id="keyword" name="keyword" type="text" placeholder="CS 225">
            <br>
            <br>
            <button type="submit">Get the mos recent posts </button>
        </form>
    </section>

    <section id="result" class="text-center">
        <br>
        <h3>Search Result</h3>
        <!-- Text Box of Text, with scrollbar -->
        {{ res }}
        <br>
        <br>

        <form action="{{ url_for('mood')}}" method="POST">
            <button type="submit">Get the sentiment analysis results </button>
        </form>
        <br>
        <br>
        <h4>Sentiment Analysis Result</h4>
        {{ mood }}
        <br>
    </section>

{% endblock %}
