{%  extends 'layout.html' %}

{%  block content %}
    <section class="text-center">
        <p>Enter a subreddit and a topic (spaces allowed) to start.</p>
        <form method="POST" action="" class="form">
            <label for="subreddit">subreddit: r/ </label>
            <input id="subreddit" name="subreddit" type="text">
            <label for="topic">topic: </label>
            <input id="topic" name="topic" type="text">
        <button type="submit" id="submit" class="btn btn-info">Get my result </button>
        </form>
    </section>

    <section id="result" class="text-center">
        <br>
        <h3>Search Result</h3>
        <!-- Text Box of Text, with scrollbar -->
        <!-- WIP: need to display the text in a more structured way-->
        <div class="d-flex justify-content-center">
            <div style="height:200px;width:500px;border:1px solid #ccc;overflow:auto;">
                {{ data }}
            </div>
        </div>
         <br>
        <h3>Current Mood</h3>
            <section class="mood">
            {% for mood in sentiments %}
                {{ mood }}
            {% endfor %}
            </section>
        <br>
        <br>
        <button class="btn btn-warning" id="learn"><a href="{{ url_for('resources')}}">Learn More</a></button>
        <br>

{% endblock %}
